@page
@model ProjectOrder.Pages.Product.CreateProductModel

<h2>Adicionar Produto</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="ProductCommand.Name" class="form-label">Nome do produto</label>
        <input asp-for="ProductCommand.Name" class="form-control" required=""/>
    </div>
    <div class="form-group">
        <label asp-for="ProductCommand.Price" class="form-label">Preço do produto</label>
        <input asp-for="ProductCommand.Price" class="form-control" type="number" step="0.01" />
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>
