@page
@model ProjectOrder.Pages.Product.DeleteProduct

@{
    System.Diagnostics.Debug.Assert(Model.Product != null);
}

<h2>Tem certeza que deseja excluir esse produto?</h2>

<p>Nome: @Model.Product?.Name</p>

<form method="post">
    <input type="hidden" name="id" value="@Model.Product?.Id"/> 
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-page="Index" class="btn btn-success">Cancelar</a>
</form>