@page
@model ProjectOrder.Pages.Product.ProductModel

@{
    System.Diagnostics.Debug.Assert(Model.Products != null);
}

<h2>Lista de Produtos</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var produto in Model.Products)
    {
        <tr>
            <td>@produto.Name</td>
            <td>@produto.Price.ToString("C")</td>
            <td>
                <a asp-page="/Product/EditProduct" asp-route-id="@produto.Id" class="btn btn-warning">Editar</a>
                <a asp-page="/Product/DeleteProduct" asp-route-id="@produto.Id" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-page="CreateProduct" class="btn btn-primary">Adicionar Produto</a>