@page
@model ProjectOrder.Pages.Order.CreateOrderModel

<h2>Fazer Pedido</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Order.CustomerId">Cliente</label>
        <select asp-for="Order.CustomerId" asp-items="@(new SelectList(new[] { Model.Customers }, "Id", "Name"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Order.ProductId">Produto</label>
        <select asp-for="Order.ProductId" asp-items="@(new SelectList(Model.Products, "Id", "Name"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Order.Quantity"></label>
        <input asp-for="Order.Quantity" class="form-control" type="number" />
    </div>
    <button type="submit" class="btn btn-success">Salvar Pedido</button>
</form>
