@page
@model ProjectOrder.Pages.Order.OrdersModel

@{
    System.Diagnostics.Debug.Assert(Model.Orders != null);
}

<h2 class="mb-4">Lista de Pedidos</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>Cliente</th>
        <th>Produto</th>
        <th>Quantidade</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var pedido in Model.Orders)
    {
        <tr>
            <td>@(pedido.CustomerId.ToString())</td>
            <td>@(pedido.ProductId.ToString())</td>
            <td>@pedido.Quantity</td>
        </tr>
    }
    </tbody>
</table>

<a asp-page="CreateOrder" class="btn btn-primary mt-3">Fazer Pedido</a>
