@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectOrder.Pages.Customer.CreateCustomerModel

<h2>Criar cliente</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="CustomerCommand.Name" class="form-label">Nome do cliente</label>
        <input asp-for="CustomerCommand.Name" class="form-control" required=""/>
    </div>
    <div class="mb-3">
        <label asp-for="CustomerCommand.Email" class="form-label">Email</label>
        <input asp-for="CustomerCommand.Email" class="form-control" required=""/>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>