@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectOrder.Pages.Customer.CreateCustomerModel

<h2>Criar cliente</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="Customer.Name" class="form-label"></label>
        <input class="form-input" type="text" id="Customer.Name" name="Customer.Name" required/>
    </div>
    
    <div class="mb-3">
        <label asp-for="Customer.Email" class="form-label"></label>
        <input class="form-input" type="email" id="Customer.Email" name="Customer.Email" required/>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>