@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectOrder.Pages.Customer.EditCustomerModel

<h2>Editar Cliente</h2>

<form method="post">
    <input type="hidden" asp-for="Customer.Id" />
    <div class="mb-3">
        <label asp-for="Customer.Name" class="form-label"></label>
        <input asp-for="Customer.Name" class="form-control" />
    </div>
    
    <div class="mb-3">
        <label asp-for="Customer.Email" class="form-label"></label>
        <input asp-for="Customer.Email" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-success">Atualizar</button>
</form>
